.error_msg p {
    margin-top: -15px; 
    padding-bottom: 10px; 
    padding-top: 10px;
    text-align: center; 
    background-color: #ccc; 
    color:#ff5050; 
    font-weight: bolder;
    border-radius: 10px;
}
.error_msg {
    z-index: 500;
    border-radius: 10px;
    width: 500px;
    position: fixed;
    top: 100px;
    left: calc(50% - 250px);
    animation-name: popupError;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: all 1s;
    opacity: 0;
}
@keyframes popupError{
    0%,80% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}