.search-bar-container .search {
    width: 100%;
    position: relative;
    display: flex;
}
.search-bar-container .searchTerm {
    width: 100%;
    border: 3px solid #ff7373;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.search-bar-container .searchTerm:focus{
    color: #ff7373;
}
.search-bar-container .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #ff7373;
    background: #ff7373;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.search-bar-container{
    box-sizing: border-box;
    position: absolute;
    width: 25%;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
}


